@model AppTeleton.Models.RecepsionistaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Citas Médicas del Día</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Paciente</th>
            <th>Cédula</th>
            <th>Tratamiento</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado de Llegada</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model.CitasMedicas)
        {
            <tr>
                <td>@cita.NombreCompleto</td>
                <td>@cita.Cedula</td>
                <td>@cita.Servicio</td>
                <td>@cita.Fecha.ToShortDateString()</td>
                <td>@cita.HoraInicio</td>
                <td>
                    @if (cita.Estado == "Llegó")
                    {
                        <span class="badge badge-success" style="color:green;">Llegó</span>
                    }
                    else
                    {
                        <span class="badge badge-danger" style="color:red;">No Llegó</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Detalles", "InformacionPaciente", "Recepcionista", new { cedula = cita.Cedula }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="CambiarContrasenia" method="get">
    <input type="hidden" name="id" value="@Model.IdUsuario" />
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
</form>

<a asp-action="ListaPacientes" class="btn btn-primary">Pacientes</a>
