@model AccesoTotemViewModel

@{
    ViewData["Title"] = "Acceder";
}
@{
    ViewData["Title"] = "Login";
    if (ViewBag.Mensaje != null)
    {
        if (ViewBag.TipoMensaje == "ERROR")
        {
            <div class="alert alert-danger" role="alert">@ViewBag.Mensaje</div>
        }
        else if (ViewBag.TipoMensaje == "EXITO")
        {
            <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
        }

    }
}

<h1>Acceder</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Citas != null){
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tipo cita
                </th>
                <th>
                    Materiales
                </th>
                <th>
                    Personal
                </th>
                <th>
                    Sala
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Cedula Paciente
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model.Citas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materiales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Personal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sala)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CedulaPaciente)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
 }