@model AccesoTotemViewModel

@{
    ViewData["Title"] = "HomeUsuario";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .full-height-table {
            width: 100%;
            height: 100vh;
        }

        .sidebar-container, .content-container {
            vertical-align: top;
        }

        .sidebar-container {
            background-color: #e83844;
            color: white;
            width: 20%;
            padding: 20px;
        }

        .content-container {
            width: 80%;
            padding: 20px;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }

            .sidebar ul li {
                margin: 10px 0;
            }

                .sidebar ul li a {
                    color: white !important; /* Asegura que los enlaces sean blancos */
                    text-decoration: none;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    border: 2px solid transparent;
                    transition: all 0.3s ease;
                }

                    .sidebar ul li a:hover {
                        background-color: #ff6666;
                        border-color: #ff6666;
                        color: white !important; /* Asegura que los enlaces sean blancos al pasar el mouse */
                        text-decoration: none;
                    }

                    .sidebar ul li a i {
                        margin-right: 10px;
                        color: white !important; /* Asegura que los íconos sean blancos */
                    }

        .content h3 {
            text-align: center;
        }

        .btn-actualizar {
            background-color: #e83844;
            color: white;
            border: 2px solid #e83844;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }

            .btn-actualizar:hover {
                background-color: white;
                color: #e83844;
                border-color: #e83844;
            }

        #formCerrarSesionAutomaticamente {
            display: none;
        }
    </style>
</head>
<body>
    <table class="full-height-table">
        <tr>
            <td class="sidebar-container">
                <h3>Menú</h3>
                <ul>
                    <li><a href="#" style="color: white !important;"><i class="fas fa-calendar-alt" style="color: white !important;"></i> Tratamientos para hoy</a></li>
                    <li><a href="#" style="color: white !important;"><i class="fas fa-question-circle" style="color: white !important;"></i> Preguntas frecuentes</a></li>
                    <li><a href="#" style="color: white !important;"><i class="fas fa-map-marker-alt" style="color: white !important;"></i> Mapa del centro</a></li>
                </ul>
                <ul>
                    <li>Se cerrará la sesión en <span id="time"></span> segundos</li>
                    <li><a href="@Url.Action("CerrarAcceso", "Totem")" class="text-white"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
                </ul>
            </td>
            <td class="content-container">
                <p>Recuerda que puedes realizar una encuesta de satisfacción en la web de tu dispositivo</p>
                <h3>Tratamientos para hoy</h3>
                <form asp-action="ActualizarCitas" method="post">
                    <input type="submit" value="Actualizar Citas" class="btn btn-actualizar" />
                </form>
                @if (Model.Citas != null)
                {
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Servicio</th>
                                <th>Tratamiento</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Citas)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Servicio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Tratamiento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                                    <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </td>
        </tr>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/timerAcceso.js"></script>

    <form asp-action="Index" id="formCerrarSesionAutomaticamente"></form>
</body>
</html>
