@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/encuesta.js"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px; /* Tamaño de fuente unificado */
        }

        .full-height-table {
            width: 100%;
            height: 100vh;
            margin: 0;
            display: flex;
        }

        .sidebar {
            background-color: #e83844;
            color: white;
            width: 250px; /* Ancho del sidebar */
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 1;
        }

            .sidebar ul {
                list-style-type: none;
                padding: 0;
            }

                .sidebar ul li {
                    margin: 10px 0;
                }

                    .sidebar ul li a {
                        color: white;
                        text-decoration: none;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                        transition: background-color 0.3s;
                    }

                        .sidebar ul li a:hover {
                            background-color: #ff6666;
                        }

                        .sidebar ul li a i {
                            margin-right: 10px;
                        }

        .main-content {
            margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
            padding: 20px;
            flex: 1;
        }

        .footer {
            background-color: #f8f9fa;
            padding: 0.5rem;
            text-align: center;
        }

        .alert-info {
            background-color: #e83844;
            color: white;
        }

        .alert-warning {
            background-color: #e83844;
            color: white;
        }

        .btn-primary, .btn-secondary {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <nav class="sidebar">
        <h3>Menú</h3>
        <ul>
            <li><a href="@Url.Action("Index", "Paciente")"><i class="fas fa-calendar-alt"></i> Tratamientos para hoy</a></li>
            <li><a href="@Url.Action("PreguntasFrecuentes", "Paciente")"><i class="fas fa-question-circle"></i> Preguntas frecuentes</a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i> Mapa del centro</a></li>
        </ul>
        <ul>
            <li><a href="@Url.Action("CerrarAcceso", "Totem")" class="text-white"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
        </ul>
    </nav>
    <main class="main-content">
        <h1>Index</h1>
        <div class="alert alert-info" role="alert">
            Active las notificaciones para recibir avisos y recordatorios importantes
            <button class="btn btn-primary" onclick="suscribirse()">Aceptar</button>
            <button class="btn btn-secondary" onclick="hideNotificationBlock()">No ahora</button>
        </div>
        <div class="alert alert-warning" role="alert" id="encuestaBlock">
            ¿Quiere realizar una encuesta?
            <button class="btn btn-primary" onclick="irAEncuesta()">Sí</button>
            <button class="btn btn-secondary" onclick="reaparecer()">No</button>
        </div>
        <h1>Hello, world!</h1>
        <h2>The time on the server is @DateTime.Now</h2>
        <form asp-controller="Notificacion" asp-action="GuardarDispositivoNotificacion" method="post" style="display: none;">
            <input type="text" id="endpoint" name="pushEndpoint">
            <input type="text" id="p256dh" name="pushP256DH">
            <input type="text" id="auth" name="pushAuth">
        </form>
        <form asp-action="CambiarContrasenia" method="get">
            <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
        </form>
    </main>
    <footer class="footer">
        <span class="text-muted">© 2024 - AppTeleton - <a href="#">Privacy</a></span>
    </footer>
</body>
</html>
