@model IEnumerable<LogicaNegocio.Entidades.Notificacion>

@{
    ViewData["Title"] = "NotificacionesPaciente";
}

<h1>Notificaciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
   
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
         
            </td>
        </tr>
}
    </tbody>
</table>
