@model AppTeleton.Models.PreguntasFrecViewModel

@{
    ViewData["Title"] = "Preguntas Frecuentes";
    var preguntasFrecuentes = Model.PreguntasFrec ?? new List<LogicaNegocio.Entidades.PreguntaFrec>();
    var isAdminOrRecepcionista = ViewBag.IsAdminOrRecepcionista;
}

<!DOCTYPE html>
<html>
<head>
    <title>Preguntas Frecuentes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sidebar {
            background-color: #e83844;
            color: white;
            height: 100vh;
            width: 250px; /* Ajusta el ancho del sidebar */
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
        }

            .sidebar ul {
                list-style-type: none;
                padding: 0;
            }

                .sidebar ul li {
                    margin: 10px 0;
                }

                    .sidebar ul li a {
                        color: white !important;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        border-radius: 5px;
                        transition: background-color 0.3s;
                    }

                        .sidebar ul li a:hover {
                            background-color: #ff6666;
                        }

        .main-content {
            margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
            padding: 20px;
        }

        .footer {
            background-color: #f8f9fa;
            padding: 0.5rem;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="sidebar">
        <h3>Menú</h3>
        <ul>
            <li><a href="@Url.Action("HomeUsuario", "Totem")"><i class="fas fa-calendar-alt"></i> Tratamientos para hoy</a></li>
            <li><a href="@Url.Action("PreguntasFrecuentes", "PreguntasFrecuentes")"><i class="fas fa-question-circle"></i> Preguntas frecuentes</a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i> Mapa del centro</a></li>
        </ul>
        <ul>
            <li><a href="@Url.Action("CerrarAcceso", "Totem")"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
        </ul>
    </nav>
    <main class="main-content">
        <h1>Preguntas Frecuentes</h1>
        
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Pregunta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in preguntasFrecuentes)
                {
                    <tr>
                        <td><a href="@Url.Action("Detalle", new { id = item.Id })">@item.Pregunta</a></td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm">Editar</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
    <footer class="footer">
        <span class="text-muted">© 2024 - AppTeleton - <a href="#">Privacy</a></span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

